@page
@model Auto.Pages.UserBookings.Create

@{
    ViewData["Title"] = "Забронировать занятие";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="preSelect">
            <select asp-for="Model.TeacherId" asp-items="Model.Model.Teachers"></select>
        </form>    
    </div>
</div>
