@page
@model Auto.Pages.Tests.IndexModel

@{
    ViewData["Title"] = "Тестирование";
}

<h1>Index</h1>

@foreach (var questionNumber in Enumerable.Range(1, Model.TestModel.Questions.Count))
{
    <form asp-page-handler="select" asp-route-number="@questionNumber" asp-route-ticket="@">
        <button class="btn">@questionNumber</button>
    </form>
}

@if (Model.CurrentQuestion.Question.Image is not null)
{
    <div>
        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.CurrentQuestion.Question.Image.Data))" alt="image"/>
    </div>
}
<div>
    @Model.CurrentQuestion.Question.Text
</div>

