@page
@model RazorHostel.Pages.Hostel.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HostelEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HostelEntity.IdHostel" />
            <div class="form-group">
                <label asp-for="HostelEntity.Name" class="control-label"></label>
                <input asp-for="HostelEntity.Name" class="form-control" />
                <span asp-validation-for="HostelEntity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostelEntity.Description" class="control-label"></label>
                <input asp-for="HostelEntity.Description" class="form-control" />
                <span asp-validation-for="HostelEntity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostelEntity.Address" class="control-label"></label>
                <input asp-for="HostelEntity.Address" class="form-control" />
                <span asp-validation-for="HostelEntity.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostelEntity.PhoneNumber" class="control-label"></label>
                <input asp-for="HostelEntity.PhoneNumber" class="form-control" />
                <span asp-validation-for="HostelEntity.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostelEntity.Email" class="control-label"></label>
                <input asp-for="HostelEntity.Email" class="form-control" />
                <span asp-validation-for="HostelEntity.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
