@page
@model Auto.Pages.Schools.CreateModel

@{
    ViewData["Title"] = "Создание";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Автошкола</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="School.Name" class="control-label"></label>
                <input asp-for="School.Name" class="form-control" />
                <span asp-validation-for="School.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School.Description" class="control-label"></label>
                <input asp-for="School.Description" class="form-control" />
                <span asp-validation-for="School.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School.Address" class="control-label"></label>
                <input asp-for="School.Address" class="form-control" />
                <span asp-validation-for="School.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School.PhoneNumber" class="control-label"></label>
                <input asp-for="School.PhoneNumber" class="form-control" />
                <span asp-validation-for="School.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School.Email" class="control-label"></label>
                <input asp-for="School.Email" class="form-control" />
                <span asp-validation-for="School.Email" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Обратно к списку</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}