@page
@model Auto.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Редактирование";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Бронирование</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.BookingId" />
            <div class="form-group">
                <label asp-for="Booking.Client" class="control-label"></label>
                <select asp-for="Booking.ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="Booking.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Teacher" class="control-label"></label>
                <select asp-for="Booking.TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                <span asp-validation-for="Booking.TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.School" class="control-label"></label>
                <select asp-for="Booking.SchoolId" class="form-control" asp-items="ViewBag.SchoolId"></select>
                <span asp-validation-for="Booking.SchoolId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Booking.isClosed" /> @Html.DisplayNameFor(model => model.Booking.isClosed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Comment" class="control-label"></label>
                <input asp-for="Booking.Comment" class="form-control" />
                <span asp-validation-for="Booking.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Date" class="control-label"></label>
                <input asp-for="Booking.Date" class="form-control" />
                <span asp-validation-for="Booking.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.ScheduleItem" class="control-label"></label>
                <select asp-for="Booking.ScheduleItemId" class="form-control" asp-items="ViewBag.ScheduleItemId"></select>
                <span asp-validation-for="Booking.ScheduleItemId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Обратно к списку</a>
</div>

